@charset "utf-8";

body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dd,ol,ul,iframe{margin:0;padding:0;border:0}
table,th,td{border-spacing:0;border-collapse:collapse}
ol,ul,li{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:normal}
body,input,textarea,keygen,select,button{font:normal 12px/1.2 'Dotum',sans-serif}
input,textarea,select,button{margin:0;padding:0;border-radius:0;color:.333;outline:0;vertical-align:middle}
a:link,a:visited,a:hover,a:active{text-decoration:none}
a,button,input[type='submit'],input[type='button'],input[type='reset']{border:0;background:transparent;cursor:pointer}
img{border:0;vertical-align:top}

.d-editor-doc{padding:10px;line-height:1.5}
.d-editor-doc p:empty,
.d-editor-doc li:empty{min-height:18px}
.d-editor-doc img{max-width:100%}
.d-editor-doc pre{margin:5px 0;padding:5px;border-radius:10px;background:#111;color:#fff}
.d-editor-doc code:empty{display:inline-block;min-height:18px}
.d-editor-doc .text-align-left{text-align:left}
.d-editor-doc .text-align-center{text-align:center}
.d-editor-doc .text-align-right{text-align:right}
.d-editor-doc .h1{font-size:2em}
.d-editor-doc .h2{font-size:1.5em}
.d-editor-doc .h3{font-size:1.17em}
.d-editor-doc .h4{font-size:1.33em}
.d-editor-doc .h5{font-size:0.83em}
.d-editor-doc .h6{font-size:0.67em}
.d-editor-doc table{min-width:100%}
.d-editor-doc table td,
.d-editor-doc table th{border:1px solid #ccc}
.d-editor-doc .d-red{color:#ff0000}
